<div class="container-fluid">
    <div class="row  align-items-center justify-content-around website">
        <div class="col-lg-4 col-md-12 websiteName ">
            <span class="text-white">Welcome !</span>
            <h1>Client<span class="meet">Meet</span></h1>
        </div>
        <div class="col-lg-4 img d-lg-block d-md-none">

        </div>
    </div>

    <div class="row services justify-content-center align-items-center ">
        <div class="col flex-fill">
            <div class="row justify-content-center">
                <div class="col-4 text-center text-dark">
                     <h3 class="fs-1">Service</h3> 
                     <hr width="100%">
                     <p>We provide a Management service of scheduling meetings at ease.
                    </p>
                </div>
            </div>
        </div>
       
        <div class="col service-content card">
           
            <h4>steps to do:</h4>
            <ol>
                <li>Scroll Down and Press Buttin Get Started</li>
                <li>Fill up the details in the Register form and Press Submit</li>
                <li>Click on (Green Color)schedule button to schedule the meeting</li>
                <li>Fill up the details and press submit</li>
            </ol>
        </div>
    </div>
    <div class="row registar">
        <div class="col-6">
            <p>Registar And Create</p>
        <a class="btn btn-primary btn-lg" routerLink="/register"> Get Started </a>
        </div>
        
    </div>
</div>
