<div class="container-fluid">
    <div class="row  align-items-center justify-content-around website">
        <div class="col-4 websiteName ">
            <span class="text-white">Welcome !</span>
            <h1>Client<span class="meet">Meet</span></h1>
        </div>
        <div class="col-4 img">

        </div>
    </div>
    <div class="row services justify-content-center align-items-center ">
        <div class="col flex-fill">
            <div class="row justify-content-center">
                <div class="col-4 text-center">
                     <h3 class="fs-1">Services</h3> 
                </div>
            </div>
        </div>
        <div class="col-5 service-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nulla, amet dicta autem ut commodi esse repudiandae provident corporis eum.</p>
        </div>
        <div class="col-5 service-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nulla, amet dicta autem ut commodi esse repudiandae provident corporis eum.</p>
        </div>
    </div>
    <div class="row registar">
        <div class="col-6">
            <p>Registar And Create</p>
        <!-- <button class="btn btn-primary btn-lg"> Get Started </button> -->
        <a class="btn btn-primary btn-lg" routerLink="/display"> Get Started </a>
        </div>
        
    </div>
</div>
